
*{
   font-family: sans-serif;
    padding: 0vw;
    margin: 0vw;
}
/* nav bar */
nav{
    padding-top:  1.5vw;
    padding-bottom: 1.5vw;
    background-color: rgb(26, 24, 24);
}
ul{
    list-style-type: none;
    margin-left: 85px;

}
 nav ul li{
    display: inline;
    margin: 45px;
    color: white;
}
span{
    margin-left: 300px;
    margin-right: 0px;
    font-size: 15px;
}
header{
    padding-top: 4vw;
    font-size: 60px;
}
 .head{
    padding-left: 5vw ;
    color: white;
}
nav ul li:hover{
    color: #ed661f;
}
.part1{
    background-color:rgb(28, 28, 26) ;
    padding-bottom: 15vw ;
}

/* button styling */
#btn{
    background-color: rgb(221, 184, 117);
    background-color: ;
    padding: 20px;
    border-radius: 15px;
}
#api-data{
    background-color: rgb(221, 184, 117);
    background-color: ;
    padding: 20px;
    border-radius: 15px;
}

#img1{
    float: right;
}
h1{
    text-align: center;
}

/* Ratings section */
#img-container{
   padding: 5vw;
}
#ratings{
    background-color:  whitesmoke;
}
#comments{
    color: black;
        margin: 10px;
        border: 1px solid #333;
        background: rgba(255, 255, 255, 0.75);
        padding: 15px 20px 18px 18px;
        border-radius: 5px;
        box-shadow: 2px 5px 5px #333;
}
#img2{
    background-color: whitesmoke;
    align-items: center;
}
/* Data from API */
#sample{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu{
    padding-left:2px;
    padding-right: 2px;
    margin-left: 3px;
}
section{
    background-color: rgb(28, 28, 26);
    padding-top: 6vw;
    padding-bottom: 6vw;
}
/* comments section */

